@import
  "abstracts/modules",
  "base/modules",
  "components/modules",
  "layout/modules",
  "pages/modules",
  "themes/modules",
  "vendors/modules";

  * {
    box-sizing: border-box;
  }

  body {
    @include flex-center;
  }

  .episode-cover {
    width: 100%;
    height: auto;
  }

  .grid {
    height: 600px;
  }

  .container {
    background-color: white;
    width: 80%;
    max-width: 1150px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0
  }
  .column-4 {
    float: left;
    width:20%;
    height: 300px;
    margin: 6.5%;
  }
  .column-4:first-child {
    margin-top: 11%;
  }
  .column-4:last-child {
    margin-top: 15%;
  }
  @media #{$tablet}{
    .column-4 {
      width: 30%;
    }
    .column-4:last-child {
      width: 60%;
      height: 130px;
      margin: 0px !important;
    }
    .grid {
      @include flex-center;
      flex-wrap: wrap;
    }
  }
  @media #{$mobile}{
    .column-4 {
      width: 70% !important;
      float: none;
      margin: 20px !important;
      height: 300px !important;
    }
    .grid {
      @include flex-center;
      flex-wrap: wrap;
      height: 1020px;
    }
    .bottom-left, .bottom-right, .top-right, .top-left {
      display: none;
    }
    .container {
      background-color: transparent !important;
    }
  }
