.border {
  width: $bg-width;
}

.border-angle {
  height: $border-angle-height;
  position: fixed;
  z-index: 999;
}

.border-side {
  height: $border-side-height;
  float: left;
}

.bg-left {
  background-color: $bg-color1;
  left: $border-side-align;
}

.bg-right {
  background-color: $bg-color2;
  right: $border-side-align;
}
