.border {
  width: $bg-width;
}

.border-top {
  top: $border-side-align;
}

.border-bottom {
  bottom: $border-side-align;
}

.border-angle {
  height: $border-angle-height;
  position: fixed;
  z-index: 999;
}

.border-side {
  height: $border-side-height;
  float: left;
}

.sides {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: $border-side-align;
  z-index: -1;
}


.bg-left {
  background-color: $bg-color1;
  left: $border-side-align;
}

.bg-right {
  background-color: $bg-color2;
  right: $border-side-align;
}
