.scrollTop {
  width: 100px;
  background-color: #90fef8;
  text-align: center;
  margin-left: -50px;
  margin-top: 30px;
  border-radius: 10px;
}
.scrollTop:hover {
  cursor: pointer;
}
.scrollTop:active{
  background-color: blue;
}
